.header{
  background-color: $bg-color;
  height: 11vh;
  color: $text-color;
  font-size: 30px;
  //position: relative;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
  }
  &__logo-box{
    //position: absolute;
    max-width: 100px;
    top: 5px;
    left: 20px;
    cursor: pointer;
  }
  &__logo-link{
    &:hover::after{
      display: none;
    }
  }
  &__links-autorisation__box{
    display: flex;      
  }  
  &__link{
    cursor: pointer;    
      &:hover::after {
        display: none;
      }
  }  
  &__link + .header__link{
    margin-left: 25px;
  }
  &__links-img{
    svg{
      fill: #000;
    }     
  }
  &__links-person{
    margin-top: 4px;
  }
  &__login-link{
    font-size: 30px;
  }
}