.login{
  height: calc(100vh - 204px);
  background-color: $bg-color;
  &__inner{
    padding-top: 100px;
  }
  &__switch-box{
    display: flex;
    justify-content: center;
  }
  &__title{
    font-size: 32px;
    color: $text-color;
    cursor: pointer;
    position: relative;    
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      background-color: $text-color;
      left: 0;
      bottom: -2px;   
      opacity: 0; 
    }
    & + .login__title{
      margin-left: 40px;
    }
    &--active.login__title::after{      
      transition: all .3s;
     opacity: 1;
    }
  }
  &__content{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: 1px solid $text-color;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  &__content-input__box{
    padding-top: 20px;
    width: 100%;
    & + .login__content-input__box{
      padding-top: 50px;
    }
    input{
      width: 100%;
      height: 60px;
      padding: 0 10px;
      outline: none;
      background-color: #d6d2d2;
    }
  }
  &__btn{
    margin-top: 50px;
    border: none;
    background-color: transparent;
    color: $text-color;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      background-color: $text-color;
      left: 0;
      bottom: -2px;
      opacity: 0;
      transition: all .3s;
    }
    &:hover::after{
      opacity: 1;
    }
  }
}